
/* # this is the CSS for NowType preview on web*/

body {
    font-size: 11pt;
    font-family: serif;
    color: rgb(0, 0, 0); /* this is necessary for clear printing */
    line-height: 1.6;
    text-align: justify;
    /*background: #C3C3C3;*/
    -webkit-text-size-adjust: 100%;  /* for android */
    max-height: 100%;    /* for android */   
}

div#backbox{
    position: fixed;
 
    /* for GPU acceleration */
    -webkit-transform: translate3d(0, 0, 0);
    -webkit-backface-visibility: hidden;
    -webkit-perspective: 1000;
 
    top: 0px; 
    left: 0px; 
    bottom: 0px;
    margin: 0mm; 
    padding: 0mm;
    width: 100%;
    overflow: auto; 
    background: #c3c3c3;
}
div.modal1{
    display: none;
    position: fixed;
    top: 0px;
    left: 0px;
    right: 0px; 
    bottom: 0px;
    z-index: 9999;
    background: #c0dcff; 
    padding: 12px;
    /*padding-top: 32pt;*/
}
div.modaltext{
    position: absolute;
    top: 48px;
    bottom: 24px;
    left: 24px;
    right: 24px;
    padding: 0;
    margin: 0;
}
div.modaltext textarea{
    width: 100%;
    height: 100%;
    overflow: auto; 
    white-space: pre-wrap;
    font-family: monospace;
}
.modalbutton{
    height:32px; 
    background: #67c8f5; 
    font-size: 16pt;
    font-family: sans-serif;
    font-weight: bold;
    text-align: center;
    text-decoration: none;
    padding-left: 10px;
    padding-right: 10px;
    border-radius: 10px;
    border: solid 1px #000000;
    cursor: pointer;
}

.savebar{
    position: fixed; bottom: 0px; left: 0px; margin: 0; width: 0%; z-index: 9998; background: #ffcc44; text-align:left;
    transition: all 300ms 0s ease;
}

.savesign{
    width: 100%;
}
.savesign:before{
    content: "save";
}


.infobar{
    position: fixed; bottom: 0px; left: 0px; margin: auto; z-index: 9998; background: #ffcc44; text-align:left;
    transition: all 300ms 0s ease;
    display: none;
}

.pdfwait{
    /*width: 100%;*/
    display: block;
}


